*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*NAV*/
.navegacionPrincipal {
    display: flex; 
    justify-content: space-between; 
    align-items: center; 
    padding: 0 10px; 
    background: #D9D9D9;
    height: 78px;
    position: sticky; 
    top: 0; 
    z-index: 1000;
    font-family: "Electrolize", sans-serif; 
}

.navegacionPrincipal ul li {
    margin: 10px; 
    padding: 5px; 
}

.navegacionPrincipal a, .navegacionPrincipal ul li a {
    color: white; 
    text-decoration: none; 
    padding: 14px 16px; 
}

.navegacionPrincipal ul {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.navegacionPrincipal > a {
    font-weight: bold;
    font-size: 30px;
}
@media (max-width: 808px) {
    .navegacionPrincipal ul li {
        display: none; /* Oculta los elementos de la lista */
    }
    .navegacionPrincipal .nav-img {
        display: block; /* Muestra la imagen */
    }
}


/*QUIENES SOMOS*/
 .section-quienessomos{
    background-image: url('./img/planetita.png');
    background-size: cover;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
}

.etiqueta-titulo{
    text-align: center;

    font-family: Electrolize;
    font-size: 50px;
    font-weight: 400;
    line-height: 59.3px;

    gap: 0px;
    opacity: 0px;

}

.parrafo{
    background-color: grey rgba(23, 34, 43, 0.925);

    border: 2px;
    padding: 8px;
    margin: 8px;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.589);
  
}

.texto-parrafo{
    font-family: Electrolize;
    font-weight: 400;
    font-size: 20px;
    line-height: 23.72px;

    padding: 10px 25px 10px 25px;
    text-align: justify;

}
/*TESTIMONIOS*/
.section-testimonios {
    background-image: url('./img/fondoTestimonios.png');
    background-size: cover;
    background-position: center;
    margin: auto;
    width: 100%;
    min-height: 100%; 
    display: flex;
    flex-direction: column; /
    align-items: center; 
}
.contenedor-card-testimonios{
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    height: 80px;
    width: 100%; 
    margin: 0px; 
}
/* Contenedores de testimonios */
.contenedor-card-testimonios-left, .contenedor-card-testimonios-center, .contenedor-card-testimonios-right {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 90%;
    height: 80px;
    
}

.contenedor-card-testimonios-left {
    background-color: #3498db; 
    left: 5px; 
    
}

.contenedor-card-testimonios-center {
    background: rgb(10, 3, 51);
    z-index: 3;
    left: 50%;
    transform: translateX(-50%);
}

.contenedor-card-testimonios-right {
    background-color: #2ecc71; 
    right: 5px;
    
}

/*FORMULARIO*/
.contenedor-formulario{
    font-family: Electrolize;
    background-color: rgb(0, 0, 0);
    max-width: 100%;
    height: 100%;
    padding: auto;
    margin: auto;
    
}
.formulario{
    text-align: left;
    font-family: Electrolize;
    color: white;
    display: flex;
    flex-direction: column;
    margin: auto;
    font-size: 16px;
    padding: 12px 16px;
    min-width: 240px ;
    
}
.mensaje{
    text-align: left;
    font-family: Electrolize;
    color: white;
    display: flex;
    flex-direction: column;
    margin: auto;
    font-size: 16px;
    padding: 12px 16px;
    min-height:  80px;
    min-width: 240px ;
}
.input-nombre{
    padding: 12px 16px  ;
    border-radius: 8px;
}
.input-apellido{
    padding: 12px 16px  ;
    border-radius: 8px;
}
.input-email{
    padding: 12px 16px  ;
    border-radius: 8px;
}
.input-mensaje{
    padding: 12px 16px ;
    border-radius: 8px;
    min-height:  80px;
    min-width: 240px ;
}

.boton-formulario{
    border-radius: 8px;
    text-align: center;
    margin: auto;
    padding: 12px 16px ;
    display: flex;
    flex-direction: column;
    min-width: 240px ;
}